[submodule "vendor/Qt-Advanced-Docking-System"]
	path = vendor/Qt-Advanced-Docking-System
	url = https://github.com/githubuser0xFFFF/Qt-Advanced-Docking-System
[submodule "vendor/tomlplusplus"]
	path = vendor/tomlplusplus
	url = https://github.com/marzer/tomlplusplus
